# Ignorar markdown excepto licencias
**/*.md
!**/THIRD_PARTY_LICENSES.md

# Evitar incluir variables
**/.env
.cache
logs
*.log

# Dependencias innecesarias
node_modules

# Git
.git
.github
!.github/scripts

# Editor
.vscode

# No incluir este mismo archivo
.dockerignore

# Evitar peso
assets
cypress
packages
scripts
docker
